In [1]:
import pandas as pd
import numpy as np
import ipywidgets
import matplotlib.pyplot as plt
import bqplot

In [2]:
df = pd.read_csv('building_inventory.csv')
df.head()

,Agency Name,Location Name,Address,City,Zip code,County,Congress Dist,Congressional Full Name,Rep Dist,Rep Full Name,...,Bldg Status,Year Acquired,Year Constructed,Square Footage,Total Floors,Floors Above Grade,Floors Below Grade,Usage Description,Usage Description 2,Usage Description 3
0,Department of Natural Resources,Anderson Lake Conservation Area - Fulton County,Anderson Lake C.a.,Astoria,61501,Fulton,17,Cheri Bustos,93,Hammond Norine K.,...,In Use,1975,1975,144,1,1,0,Unusual,Unusual,Not provided
1,Department of Natural Resources,Anderson Lake Conservation Area - Fulton County,Anderson Lake C.a.,Astoria,61501,Fulton,17,Cheri Bustos,93,Hammond Norine K.,...,In Use,2004,2004,144,1,1,0,Unusual,Unusual,Not provided
2,Department of Natural Resources,Anderson Lake Conservation Area - Fulton County,Anderson Lake C.a.,Astoria,61501,Fulton,17,Cheri Bustos,93,Hammond Norine K.,...,In Use,2004,2004,144,1,1,0,Unusual,Unusual,Not provided
3,Department of Natural Resources,Anderson Lake Conservation Area - Fulton County,Anderson Lake C.a.,Astoria,61501,Fulton,17,Cheri Bustos,93,Hammond Norine K.,...,In Use,2004,2004,144,1,1,0,Unusual,Unusual,Not provided
4,Department of Natural Resources,Anderson Lake Conservation Area - Fulton County,Anderson Lake C.a.,Astoria,61501,Fulton,17,Cheri Bustos,93,Hammond Norine K.,...,In Use,2004,2004,144,1,1,0,Unusual,Unusual,Not provided

In [3]:
df["Agency Code"] = df["Agency Name"].astype('category').cat.codes
df.head()

,Agency Name,Location Name,Address,City,Zip code,County,Congress Dist,Congressional Full Name,Rep Dist,Rep Full Name,...,Year Acquired,Year Constructed,Square Footage,Total Floors,Floors Above Grade,Floors Below Grade,Usage Description,Usage Description 2,Usage Description 3,Agency Code
0,Department of Natural Resources,Anderson Lake Conservation Area - Fulton County,Anderson Lake C.a.,Astoria,61501,Fulton,17,Cheri Bustos,93,Hammond Norine K.,...,1975,1975,144,1,1,0,Unusual,Unusual,Not provided,11
1,Department of Natural Resources,Anderson Lake Conservation Area - Fulton County,Anderson Lake C.a.,Astoria,61501,Fulton,17,Cheri Bustos,93,Hammond Norine K.,...,2004,2004,144,1,1,0,Unusual,Unusual,Not provided,11
2,Department of Natural Resources,Anderson Lake Conservation Area - Fulton County,Anderson Lake C.a.,Astoria,61501,Fulton,17,Cheri Bustos,93,Hammond Norine K.,...,2004,2004,144,1,1,0,Unusual,Unusual,Not provided,11
3,Department of Natural Resources,Anderson Lake Conservation Area - Fulton County,Anderson Lake C.a.,Astoria,61501,Fulton,17,Cheri Bustos,93,Hammond Norine K.,...,2004,2004,144,1,1,0,Unusual,Unusual,Not provided,11
4,Department of Natural Resources,Anderson Lake Conservation Area - Fulton County,Anderson Lake C.a.,Astoria,61501,Fulton,17,Cheri Bustos,93,Hammond Norine K.,...,2004,2004,144,1,1,0,Unusual,Unusual,Not provided,11

In [4]:
heatmap_df1 = df.pivot_table(values='Square Footage', index=['Congress Dist'], columns='Agency Code', aggfunc='sum')
heatmap_df1

Agency Code,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
Congress Dist,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,231278.0,NaN,372784.0,NaN,...,5650.0,31200.0,NaN,NaN,41315.0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,1219492.0,NaN,NaN,NaN,449547.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49572.0,1253943.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3643049.0,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,9932.0,NaN,362890.0,NaN,...,NaN,NaN,NaN,1110103.0,NaN,NaN,28452.0,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72411.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,2088840.0,NaN,304039.0,NaN,...,NaN,15000.0,NaN,NaN,NaN,NaN,56904.0,NaN,6363904.0,NaN
8,NaN,NaN,43330.0,NaN,NaN,NaN,65268.0,NaN,913263.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,443865.0,NaN,234642.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2598339.0,66673.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,15124.0,NaN,NaN,NaN,NaN,536232.0,98355.0,2594507.0,1579965.0,63508.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5558744.0,NaN,NaN
13,NaN,16400.0,NaN,NaN,NaN,2000832.0,1003106.0,931578.0,192934.0,36538.0,...,50000.0,NaN,2960272.0,NaN,NaN,NaN,2188472.0,3150729.0,14695427.0,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,538807.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,41984.0,70160.0,2908649.0,394598.0,209238.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,18700.0,NaN,NaN,44130.0,2862863.0,206088.0,NaN,...,NaN,NaN,NaN,NaN,3709780.0,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,29350.0,151963.0,1518546.0,247839.0,227480.0,...,NaN,NaN,NaN,NaN,NaN,60500.0,NaN,NaN,315626.0,385896.0
18,NaN,NaN,NaN,NaN,NaN,NaN,54014.0,1656696.0,1887569.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1962213.0

In [5]:
lineplot_df = df.pivot_table(values='Square Footage', index=['Congress Dist','Agency Code','Year Acquired'], aggfunc='sum').reset_index()
lineplot_df

      Congress Dist  Agency Code  Year Acquired  Square Footage
0                 0            6           1855            3848
1                 0            6           1968           18000
2                 0            6           1974          208030
3                 0            6           1977            1400
4                 0            8           1952             900
...             ...          ...            ...             ...
2525             18           34           2006             400
2526             18           34           2007            9732
2527             18           34           2010            1200
2528             18           34           2014            1800
2529             18           34           2015          106120

[2530 rows x 4 columns]

In [6]:
line_initial_df = lineplot_df[(lineplot_df['Congress Dist']==0) & (lineplot_df['Agency Code']==6)]
line_initial_df

   Congress Dist  Agency Code  Year Acquired  Square Footage
0              0            6           1855            3848
1              0            6           1968           18000
2              0            6           1974          208030
3              0            6           1977            1400

In [7]:
mapping_agency = df.groupby(by=['Agency Name']).agg({
    'Agency Code': 'first',
}).reset_index()
mapping_agency

                                  Agency Name  Agency Code
0            Appellate Court / Fifth District            0
1           Appellate Court / Fourth District            1
2           Appellate Court / Second District            2
3            Appellate Court / Third District            3
4                    Chicago State University            4
5                   Department of Agriculture            5
6   Department of Central Management Services            6
7                   Department of Corrections            7
8                Department of Human Services            8
9              Department of Juvenile Justice            9
10             Department of Military Affairs           10
11            Department of Natural Resources           11
12                Department of Public Health           12
13                      Department of Revenue           13
14                 Department of State Police           14
15               Department of Transportation           15
16            Department of Veterans' Affairs           16
17                Eastern Illinois University           17
18                          Governor's Office           18
19                 Governors State University           19
20               Historic Preservation Agency           20
21                IL State Board of Education           21
22         Illinois Board of Higher Education           22
23           Illinois Community College Board           23
24                            Illinois Courts           24
25       Illinois Emergency Management Agency           25
26       Illinois Medical District Commission           26
27                  Illinois State University           27
28           Northeastern Illinois University           28
29               Northern Illinois University           29
30             Office of the Attorney General           30
31           Office of the Secretary of State           31
32               Southern Illinois University           32
33                     University of Illinois           33
34                Western Illinois University           34

In [8]:
mapping_congress = df.groupby(by=['Congressional Full Name']).agg({
    'Congress Dist': 'first',
}).reset_index()
mapping_congress

    Congressional Full Name  Congress Dist
0            Adam Kinzinger             16
1               Bill Foster             11
2             Bobby L. Rush              1
3              Cheri Bustos             17
4   Daniel William Lipinski              3
5            Danny K. Davis              7
6           Darin M. LaHood             18
7         Janice Schakowsky              9
8              John Shimkus             15
9            Luis Gutierrez              4
10                Mike Bost             12
11             Mike Quigley              5
12          Peter J. Roskam              6
13           Randy Hultgren             14
14              Robert Dold             10
15              Robin Kelly              2
16          Rodney L. Davis             13
17          Tammy Duckworth              8

In [10]:
mySelectedLabel = ipywidgets.Label()

# Grid heat map
col_sc = bqplot.ColorScale(scheme="RdPu",  # RdPu, Reds, Blues
                           min=np.nanmin(heatmap_df1), 
                           max=np.nanmax(heatmap_df1))
x_sc = bqplot.LinearScale()
y_sc = bqplot.LinearScale()
c_ax = bqplot.ColorAxis(scale = col_sc, 
                        orientation = 'vertical', 
                        side = 'right')
x_ax = bqplot.Axis(scale = x_sc, 
                   label='Agency Code')
y_ax = bqplot.Axis(scale = y_sc, 
                   orientation = 'vertical', 
                   label = 'Congress Dist')
heat_map = bqplot.GridHeatMap(color = heatmap_df1.values,
                              row = heatmap_df1.index,  # congress dist
                              column = heatmap_df1.columns,  # agency code
                              scales = {'color': col_sc,
                                        'row': y_sc,
                                        'column': x_sc},
                              interactions = {'click': 'select'},
                              anchor_style = {'fill':'blue'}, 
                              selected_style = {'opacity': 1.0},
                              unselected_style = {'opacity': 1.0})

# Line plot
x_sc = bqplot.LinearScale()  # cannot be deleted
y_sc = bqplot.LinearScale()  # cannot be deleted
ax_xcl = bqplot.Axis(scale = x_sc, 
                     label='Year Acquired')
ax_ycl = bqplot.Axis(scale = y_sc, 
                   orientation = 'vertical', 
                   label='Square Footage')
lines = bqplot.Lines(x = line_initial_df['Year Acquired'],
                     y = line_initial_df['Square Footage'],
                     scales = {'x': x_sc, 'y': y_sc})

# Interactive, logic inside this function is IMPORTANT!
def get_data_value(change):
    if len(change['owner'].selected) == 1:
        i,j = change['owner'].selected[0]
        # print(i, j)
        congress = mapping_congress[mapping_congress['Congress Dist']==i].iloc[0,]['Congressional Full Name']
        agency = mapping_agency[mapping_agency['Agency Code']==j].iloc[0,]['Agency Name']
        mySelectedLabel.value = 'Congressional Full Name: {}... Agency Name: {}'.format(congress, agency)
        try:
            region_mask = (lineplot_df['Congress Dist']==i) & (lineplot_df['Agency Code'] == j) & (lineplot_df['Year Acquired']!=0)
            lines.x = lineplot_df['Year Acquired'][region_mask]
            lines.y = lineplot_df['Square Footage'][region_mask]
        except:
            lines.x = []
            lines.y = []
# The bqplot heatmap can observe select event. As long as plotly object can listen on select event, plotly can replace the bqplot.
heat_map.observe(get_data_value, 'selected')

fig_heatmap = bqplot.Figure(marks = [heat_map], axes = [c_ax, y_ax, x_ax])
fig_line = bqplot.Figure(marks = [lines], axes = [ax_xcl, ax_ycl])

fig_heatmap.layout.min_width='500px'
fig_line.layout.min_width='500px'

# VBox is vertical, HBox is horizontal
myDashboard = ipywidgets.VBox([mySelectedLabel, ipywidgets.HBox([fig_heatmap,fig_line])])
myDashboard

VBox(children=(Label(value=''), HBox(children=(Figure(axes=[ColorAxis(orientation='vertical', scale=ColorScale…

# Write-up

- Any data transformations or rescalings you did for your plot?

First, I added a new column named "Agency Code" to the dataframe, by converting "Agency Name" string values to numerical values.

Second, a pivot table dataset named "heatmap_df1" was created for heat map visualization. The index is "Congress Dist", the columns are "Agency Code", and the cell values are sum of "Square Footage". 

Third, I create another dataframe named "lineplot_df" for the line plot. It has 4 columns: congress, agency, year, and square footage.

There are some other dataframes created such as "line_initial_df", "mapping_congress", and "mapping_agency" to help building the dashboard.

No rescaling was applied to the data.

- How you dealt with NaN's (empty entries) in your dataset?

Just leave NaN as is. Because grid heap map will defaultly set NaN value as a black color cell.

However, since the NaN value in heat map means the combination of Congress and Agency doesn't have any record in the original dataset, my code passes an empty list to x axis data, along with an empty list to y axis data of the line plot object. Then the dashboard can show an empty line plot, without throwing an python run-time error.

In addition, I filtered all year=0 records out in the line plot, let the year axis visualization make sense.

- Any aesthetic choices you made (colors, layout, plot size, label size) and why, and what you'd like to experiment with if you had more time.

I chose "RdPu" as bqplot color scale schema, 500px min width for both grid heat map and line plot.

If I had more time, I would like to try other libraries such as seaborn or plotly to build a similar interactive dashboard, and compare the easiness, aesthetics with this implementation.